<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AvaloniaCI" value="https://nuget.avaloniaui.net/repository/avalonia-nightly/index.json" />
    <add key="DockAvaloniaCI" value="https://www.myget.org/F/dock-nightly/api/v2" />
  </packageSources>
</configuration>